# ignore json
*.json

# ignore ini, txt
*.ini
*.txt

# ignore .vscode, .directory
.vscode/
.directory

# ignore logs
log/

# ignore pyinstaller files
build/
dist/
*.spec

# ignore binaries
ps3dec*
splitps3iso*

# ignore game files
*.zip
*.iso
*.iso.*
*.pkg
*.pkg.*
*.rap

# ignore game folders
MyrientDownloads/
processing/