# ignore json
*.json

# ignore ini
*.ini

# ignore .vscode
.vscode/

# ignore logs
log/

# ignore pyinstaller files
build/
dist/
*.spec

# ignore binaries
ps3dec*
splitps3iso*

# ignore game files
*.zip
*.iso
*.iso.*
*.pkg
*.pkg.*
*.rap